.place__paragraphs {
    max-width: 100%;
    align-self: start;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    margin: 0 0 26px 0;
}



.place__paragraph:nth-child(even) {
    margin: 0;
}