.place__paragraphs {
    max-width: 484px;
    align-self: start;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    margin: 0 0 26px 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        max-width: 288px;
    }
}

.place__paragraph:nth-child(even) {
    margin: 0;
}