.place__paragraph{
    margin: 0;
    line-height: 29px;}
    
  
    @media screen and (max-width: 1023px){
        .place__paragraph {
            line-height: 26px;
        }
        }
        .place__paragraph:first-of-type {
            margin-bottom: 25px;
        }