.intro{ 

    max-width: 984px;
    padding: 0;
    margin: 91px auto; 

} 

@media screen and (max-width: 1279px) { 

    .intro { 
        margin: 90px 0px 92px 48px;
    
    } 

    } 


@media screen and (max-width: 1023px) { 

    .intro { 

        max-width: 720px;
        margin: 0 auto;
        padding: 0 24px 0px 24px;

    } 

} 

 
@media screen and (max-width: 767px) { 

    .intro { 
        max-width: 288px;
        padding: 63px 0 0 0px;

    } 

}