.intro{ 

    max-width: 984px; 
    padding: 15px 148px 90px 148px; 
    margin: 0 auto; 

} 

@media screen and (max-width: 1279px) { 

    .intro { 

        padding: 87px 0 90px 48px; 

    } 

    } 


@media screen and (max-width: 1023px) { 

    .intro { 

        max-width: 720px; 
        padding: 15px 0 0 25px; 

    } 

} 

 
@media screen and (max-width: 767px) { 

    .intro { 
        max-width: 288px; 
        padding: 63px 0 0 0px; 

    } 

}