.intro{
    max-width: 690px;
    padding: 9px 148px 90px 148px;
    margin: 0;
}


@media screen and (max-width: 1279px) {
    .intro {
        padding: 14px 0 90px 48px;
    }
    
    
    }

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        padding: 15px 0 0 25px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        margin: 0;
        padding: 50px 0 0 15px;
    }
}