.cover {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../../images/cover-trains.jpg);
    margin: 77px 48px 0 48px;
    padding: 0;
    max-width: 1184px;
    min-height: 740px;
    text-align: center;
    z-index: 0;
   
}

@media screen and (max-width: 1279px) {
    .cover {
        margin: 15px 0 0 15px;
        max-width: 100%;
        min-height: 62.5vw;
    }
}
@media screen and (max-width: 767px) {
    .cover {
        margin: 14px 0 0 0;

    }
}

.cover::before {

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    content: "";
    transition: 1s linear;
}

.cover:hover::before {
    opacity: 0.8;
}