.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(216px, 1fr));
    
    row-gap: 49px;
    column-gap: 40px;
    margin: 0 auto 68px;
}

@media screen and (max-width: 1279px) {
    .place {        
        row-gap: 45px;
        column-gap: 32px;
        margin: 0 auto 65px;
    
    }
}

@media screen and (max-width: 1023px) {
    .place {
        
        row-gap: 48px;
        column-gap: 28px;
        margin: 0 auto 52px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 55px;
        row-gap: 32px;
        
       
    }
}
.place:last-of-type {
    margin-bottom: 0;
}