.footer {
    max-width: 1184px;
    margin: 94px auto 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        align-items: start;
    }
}